html {
  scroll-behavior: smooth;
}

/* Temp
------------------------------------------------------------*/
.temp-img {
  width: 100%;
}
.brief-template .cure-table {
  width: 100%;
}
.brief-template tr td:last-child {
  padding: 0;
}
.brief-template tr td:last-child input {
  height: 100px;
  width: 100%;
}

/* Brief Template
------------------------------------------------------------*/
.brief-template tr td {
  width: 50%;
  border: 1px solid #d1d1d1;
}

/* Variables
------------------------------------------------------------*/
:root {
  --menu-bg: rgba(235, 235, 235, 255);
  --cure-font: "Poppins", sans-serif;
  --link-color: rgba(116, 116, 116, 255);
  --card-hover-bg: rgba(0, 0, 0, 3%);
  --cure-color: #fba53a;
}

/* Layout
------------------------------------------------------------*/

body {
  font-family: var(--cure-font);
  margin: 0;
  background-color: var(--menu-bg);
  height: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
table {
  border-collapse: collapse;
}
td,
th {
  text-align: left;
  padding: 15px;
}
th {
  font-weight: 500;
  text-transform: capitalize;
}
.btn-cure {
  border-radius: 25px;
  border: none;
  padding: 10px 12px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-cure:hover {
  background-color: var(--cure-color);
}
.btn-cure.active {
  background-color: var(--cure-color);
}
.cure-filter {
  text-align: right;
  margin: 0 5px;
}
.cure-table {
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
}
/* Select 2 */
.select2-selection--single {
  border-radius: 25px !important;
  font-size: 0.8em;
}
.select2-results__option {
  font-size: 0.8em !important;
}

/* Sidebar
------------------------------------------------------------*/
.sidebar {
  padding: 20px;
  min-width: fit-content;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a {
  color: var(--link-color);
  text-decoration: none;
}
.logo {
  margin-bottom: 20px;
}
.sidebar .sidebar-inner {
  position: sticky;
  top: 20px;
}
.active-menu a {
  color: blue !important;
  font-weight: 500;
}

/* Panel
------------------------------------------------------------*/
.panel {
  width: 100%;
  background-color: #fff;
  margin: 8px;
  border-radius: 25px;
  padding: 30px;
}
.panel-head {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}
.home .panel-head {
  justify-content: unset;
}
.user-profile {
  width: 35px;
  border-radius: 50%;
}

/* CPA Status
------------------------------------------------------------*/
.cpa-good {
  color: green;
}
.cpa-bad {
  color: red;
}

/* Overview Cards
------------------------------------------------------------*/
.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.home .cards > div,
.single-checklist .cards > div {
  padding: 20px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 10%);
  border-radius: 10px;
  text-decoration: none;
  color: var(--link-color);
  min-width: 25%;
}

.home .cards > div:hover {
  background-color: var(--card-hover-bg);
}

.cards h3 {
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.card-head select,
.card-head select:focus {
  border: none;
  outline: none;
}

/* Client Reporting
------------------------------------------------------------*/

.cr-filters {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.client-reporting.cure-table {
  margin: 50px 0;
}

/* Modals
------------------------------------------------------------*/
.cure-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 10%);
}
.cure-modal-inner {
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  position: relative;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 10px;
}
.modal-close a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}
.cure-field-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.cure-field-group label {
  margin-bottom: 3px;
}

/* Modals
------------------------------------------------------------*/
.search-bar {
  padding: 10px 0;
  margin: 10px 0;
  position: relative;
}
.search-bar i {
  position: absolute;
  top: 18px;
  left: 10px;
}
.search-bar input {
  background-color: #e8eaed;
  border: none;
  padding: 10px;
  width: 100%;
  padding-left: 35px;
}

/* Single Report
------------------------------------------------------------*/
.single-report .panel-head img {
  height: 42px;
}
.single-report-charts {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
.single-report-charts > div {
  width: 45%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 20%);
  border-radius: 25px;
  padding: 20px;
}
.single-report-charts .panel-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Highlights
------------------------------------------------------------*/
.cure-highlights {
  margin-top: 15px;
}
.cure-highlights td {
  padding-left: 0;
}
.cr-highlights .flaticon-up-arrow {
  color: red;
  font-size: 0.8em;
}
.cl-highlights tr:not(:first-of-type) td {
  padding-top: 0;
}
.uploaded-by {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.uploaded-by img {
  width: 20px;
  border-radius: 50%;
}
.link-to-brief a {
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  position: relative;
  margin-right: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
  text-decoration: none;
  color: #000;
}
.cl-highlights .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-left: 20px;
}
.cl-highlights i,
.cl-highlights input {
  cursor: pointer;
}
.cl-highlights i {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: cornflowerblue;
  transition: all 0.2s ease;
}
.cl-highlights i:hover {
  color: darkslateblue;
}
.cl-highlights .flaticon-chat {
  font-size: 0.8em;
  position: relative;
  top: 1px;
}
.actions a {
  text-decoration: none;
}

/* checklist meter
------------------------------------------------------------*/

.checklist-meter {
  display: flex;
  flex-direction: row;
}

.checklist-meter span {
  margin-left: 10px;
}

.checklist-meter meter {
  margin-top: 4px;
}

/* Checklist-Panel
------------------------------------------------------------*/
.single-checklist .cards {
  flex-direction: column;
}
.comment-row a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.75em;
  color: #fff;
  background-color: rgba(0, 0, 0, 50%);
  border-radius: 25px;
  padding: 2px 8px;
  transition: all 0.2s ease;
}

.comment-row a:hover {
  background-color: rgba(0, 0, 0, 100%);
}

/* Single Checklist
------------------------------------------------------------*/
.single-checklist .select2-selection__rendered img {
  width: 20px;
  border-radius: 50%;
}
.single-checklist .select2-selection__rendered > span {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.single-checklist .select2-container {
  width: 100% !important;
  min-width: 180px;
}
.single-checklist .select2-selection--single {
  border-radius: 25px !important;
  background-color: aliceblue;
  font-size: 0.8em;
}
.single-checklist .select2-results__option img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.single-checklist .select2-results__option span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 0.8em !important;
}
.single-checklist .cure-table {
  background: none;
}

.single-checklist .cure-table:not(.toc) tr td:nth-child(2) {
  width: 450px;
  min-width: 450px;
}
.single-checklist .cards {
  margin: 30px 0px;
}
.checklist-breakdown .card {
  background: none !important;
  box-shadow: none;
}
.single-checklist .cure-table:not(.toc) tr td:nth-child(4) div input {
  border: none;
}
.single-checklist .panel-wrapper {
  display: flex;
  column-gap: 20px;
}
.cards.checklist-breakdown .card {
  position: sticky;
  top: 15px;
}
.single-checklist .cure-table.toc tr td:first-child {
  white-space: nowrap;
}
.link-to-cb {
  display: flex;
  align-items: center;
  column-gap: 3px;
  color: cornflowerblue;
}
.link-to-cb a {
  text-decoration: none;
  color: cornflowerblue;
}
.single-checklist .cards:not(.checklist-breakdown) .card-head {
  margin-bottom: 20px;
}

/* User Module
------------------------------------------------------------*/
.panel-head button {
  margin-left: auto;
}
.users .cure-table img {
  width: 40px;
}
.users .cure-table td:nth-child(1) {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  white-space: nowrap;
}
.users .cure-table td:nth-child(1) img {
  border-radius: 50%;
  width: 20px;
}
.users .cure-table {
  background-color: transparent;
  width: 500px;
}
.users .select2-container {
  width: 100% !important;
  min-width: 130px;
}
.users .cure-table a {
  text-decoration: none;
}
.users .cure-table i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-to-cb i {
  display: flex;
  align-items: center;
}

/* Add Brief Modal 
--------------------------------------------------------------------*/
.select-template-container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.select-template-container .radio-box {
  flex: 1 1 30%;
  text-align: center;
  padding: 2em;
  position: relative;
  margin: 0.3em;
  min-height: 8em;
}
.select-template-container .radio-box input {
  position: absolute;
  left: -999em;
}
.select-template-container .radio-box .check,
.select-template-container label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.select-template-container .radio-box label {
  padding: 1em;
  z-index: 10;
  cursor: pointer;
}
.select-template-container .radio-box .check {
  border: solid 5px transparent;
  border-radius: 5px;
}
.select-template-container .radio-box input:checked ~ .check {
  border-color: darkgray;
}
.left-box .check {
  background: #fdd;
}
.center-box .check {
  background: #ffd;
}
.right-box .check {
  background: #def;
}

/* Projects */
.cure-project .project-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.cure-project {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.projects .element-item {
  min-width: 600px;
}

/* Reports
----------------------------------------*/
.report-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.report-head img {
  max-width: 135px;
}
.report-head .sub-headline {
  color: var(--cure-color);
}
.single-report .report-container {
  background-color: var(--cure-color);
  padding: 40px;
}
.single-report .report-inner {
  background-color: #fff;
  border-radius: 7px;
  padding: 30px;
}
.report-table th {
  background-color: var(--cure-color);
  border: 1px solid #000;
}
.report-table {
  margin-left: auto;
  font-size: 0.75em;
}
.report-table {
  margin-left: auto;
}
.report-table td {
  border: 1px solid #000;
}
.report-notes {
  margin-top: 30px;
}
.report-insights {
  margin-bottom: 20px;
}
.report-notes h5 {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.add-to-report-btn-wrapper .cure-field-group {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.add-to-report-btn-wrapper .cure-field-group input {
  width: 70%;
}
/* Cure Loader
------------------------------------------------------------*/
.api-syncing {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 90%);
  display: none;
}
.api-syncing h5 {
  color: #fff;
  font-size: 1.3em;
}
.api-syncing img {
  max-width: 300px;
}
